html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Microsoft YaHei';
    font-size: 1.6rem;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #666;
}