.detailBox{
    position: relative;
    padding-bottom: 80px;
}

.detailTop{
    display: flex;
    position: relative;
    padding: 10px 20px;
    background-color: #fff;
    z-index: 5;
}

.topHeadImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 15px;
}

.topMain{
    flex: 1;
    position: relative;
}

.topAuthor{
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.topDate{
    font-size: 1.2rem;
    color: #999;
}

.topToAutor{
    position: absolute;
    right: 0;
    top: 10px;
    width: 16px;
    height: 16px;
    background-image: url('../images/right.png');
    background-size: cover;
}

.detailMain{
    background-color: #fafafa;
    padding-bottom: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 200%;
    font-size: 1.8rem;
    word-wrap: break-word;
}

.title{
    padding: 0 20px;
    text-align: center;
}

.text{
    padding: 0 20px;
}

.coverBox{
    overflow: hidden;
}

.coverBox img{
    width: 100%;
}

.footer1Box{
    display: flex;
    margin-bottom: 20px;
    background-color: #fafafa;
}

.footer1Item{
    height: 160px;
    line-height: 160px;
    flex: 1;
    text-align: center;
}

.footer1Item:first-child{
    border-right: 1px solid #eee;
}

.footer2Box{
    margin-bottom: 20px;
    background-color: #fafafa;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.footer3Box{
    text-align: center;
    background-color: #fafafa;
    padding: 20px 0;
    margin-bottom: 20px;
}

.footer3Title{
    padding: 10px 0 20px;
}

.footer3Div{
    display: flex;
}

.footer3Item{
    flex: 1;
    height: 80px;
    line-height: 80px;
}

.footer4Box{
    background-color: #fafafa;
    padding: 20px 0;
}

.footer4Title{
    text-align: center;
    padding: 10px 0 20px;
}

.que{
    color: #333;
    font-size: 1.2rem;
    padding: 0 20px;
    margin: 5px 0;
}

.ans{
    color: #999;
    font-size: 1.2rem;
    padding: 0 20px;
    margin: 5px 0 25px;;
}

.detailBottom{
    position: fixed;
    display: flex;
    height: 60px;
    padding: 10px 20px;
    bottom: 0;
    background-color: #fff;
    z-index: 5;
    box-sizing: border-box;
    width: 100%;
    max-width: 768px;
    left: 50%;
    transform: translateX(-50%);
}

.bottomLeft,
.bottomRight{
    flex: 1;
}

.bottomLeft{
    display: flex;
    padding-right: 10px;
}

.bottomItem{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    line-height: 40px;
    color: #aaa;
    font-size: 1.2rem;
    position: relative;
}

.back{
    position: absolute;
    left: 0;
    top: 8px;
    width: 20px;
    height: 20px;
    background-image: url('../images/back.png');
    background-size: cover;
}

.bottomItem div{
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 5px;
}

.liked{
    background-image: url('../images/liked.png');
}

.like{
    background-image: url('../images/like.png');
}

.share{
    background-image: url('../images/share.png');
}

.toBuyBtn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: indianred;
    color: #fff;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1.8rem;
}

.shareAlert{
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    font-size: 1.4rem;
    color: #666;
    border-top: 1px solid #ccc;
}

.shareInfo{
    background-color: #f9f9f9;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.shareBox{
    display: flex;
    padding: 30px;
}

.shareWay{
    flex: 1;
    text-align: center;
}

.shareItem{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    display: inline-block;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.8;
}

.shareItem[data-name="weixin"]{
    background-image: url('../images/weixin.png');
}
.shareItem[data-name="moments"]{
    background-image: url('../images/moments.png');
}
.shareItem[data-name="weibo"]{
    background-image: url('../images/weibo.png');
}
.shareItem[data-name="copy"]{
    background-image: url('../images/copy.png');
}

.shareCancel{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 1.6rem;
}