.discoverTop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #f8f8f8;
    opacity: 0.8;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.discoverBox{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.discoverTopRow{
    display: flex;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.discoverTopItem{
    flex: 1;
    height: 80px;
    line-height: 80px;
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
}

.discoverTopItem:first-child{
    margin-right: 20px;
}

.discoverSection{
    background-color: #fff;
    margin-bottom: 20px;
    border-top: 1px solid #f3f3f3;
    padding: 0 20px;
}

.sectionImgBox{
    display: flex;
    padding-bottom: 20px;
}
.sectionImg{
    flex: 1;
    height: 100px;
    background-color: #eee;
    border-radius: 5px;
}

.sectionImg:nth-child(even){
    margin: 0 20px;
}

.discoverBanner{
    margin: 20px 0;
    overflow-x: hidden;
    position: relative;
    height: 102px;
}

.discoverBannerImg{
    position: absolute;
    transform: translateX(-50%);
    width: 80%;
    height: 100px;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 10px;
    opacity: 0.5;
}

@keyframes banner0{
    0% {left: -34%;}
    20% {left: -34%;}
    50% {left: -118%;}
    70% {left: -118%;}
    100% {left: -202%;}
}
.discoverBannerImg[data-index="0"]{
    animation: banner0 8s infinite;
    background-color: #aaa;
}

@keyframes banner1{
    0% {left: 50%;}
    20% {left: 50%;}
    50% {left: -34%;}
    70% {left: -34%;}
    100% {left: -118%;}
}
.discoverBannerImg[data-index="1"]{
    animation: banner1 8s infinite;
    background-color: #ccc;

}

@keyframes banner2{
    0% {left: 134%;}
    20% {left: 134%;}
    50% {left: 50%;}
    70% {left: 50%;}
    100% {left: -34%;}
}
.discoverBannerImg[data-index="2"]{
    animation: banner2 8s infinite;
    background-color: #aaa;
}

@keyframes banner3{
    0% {left: 218%;}
    20% {left: 218%;}
    50% {left: 134%;}
    70% {left: 134%;}
    100% {left: 50%;}
}
.discoverBannerImg[data-index="3"]{
    animation: banner3 8s infinite;
    background-color: #ccc;
}

@keyframes banner4{
    0% {left: 302%;}
    20% {left: 302%;}
    50% {left: 218%;}
    70% {left: 218%;}
    100% {left: 134%;}
}
.discoverBannerImg[data-index="4"]{
    animation: banner4 8s infinite;
    background-color: #aaa;
}

.recommendSection{
    background-color: #fff;
    margin-bottom: 50px;
    border-top: 1px solid #f3f3f3;
    padding: 0 20px 30px;
}

.recommendItemBox{
    display: flex;
}

.recommendItem{
    flex: 1;
    text-align: center;
}

.recommendItemImg{
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.recommendItemName{
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.8rem;
    margin: 10px auto;
}

.recommendItemDesc{
    font-size: 1.4rem;
    color: #999;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto 10px;
}

.recommendFollowBtn{
    background-color: #fff;
    border: 1px solid indianred;
    color: indianred;
    border-radius: 2px;
    width: 60px;
    height: 28px;
    line-height: 28px;
    outline: none;
}

.recommendFollowingBtn{
    background-color: #eee;
    border: 1px solid #eee;
    color: #666;
    border-radius: 2px;
    width: 60px;
    height: 28px;
    line-height: 28px;
    outline: none;
}