.item{
    padding: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
}

.img{
    flex: 2;
    background-color: #eee;
    margin-right: 20px;
    border-radius: 5px;
    min-width: 104px;
    overflow: hidden;
}

.img img{
    width: 100%;
    border-radius: 5px;
}

.info{
    flex: 3;
    height: 86px;
    position: relative;
}

.title{
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.likes{
    font-size: 1.2rem;
    color: #999;
    padding-left: 22px;
    margin-bottom: 25px;
    position: relative;
}

.likes::before{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-image: url('../images/like.png');
    background-size: cover;
}

.price{
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
}