.personal{
    background-color: #efefef;
    height: 100vh;
}

.headBox{
    background-color: #444;
    padding: 40px 0;
}

.headImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/pen.jpg");
    background-size: cover; 
    background-position: 50% 50%;
    margin: 0 auto;
}

.headInfo{
    text-align: center;
    color: #fff;
}

.name{
    font-size: 2rem;
    margin: 15px 0 10px;
}

.desc{
    font-size: 1.2rem;
    margin: 0;
    color: #aaa;
}

.settingBox{
    padding-bottom: 60px;
}

.settingArea{
    background-color: #fff;
    margin-bottom: 20px;
}

.settingItem{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    padding-right: 25px;
    position: relative;
    background-color: #fff;
    margin-left: 45px;
}

.settingTitle{
    position: relative;
    font-size: 1.4rem;
}

.settingIcon{
    position: absolute;
    left: -30px;
    top: 8px;
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.order{
    background-image: url('../images/order.png');
}
.subscription{
    background-image: url('../images/subscription.png');
}
.like{
    background-image: url('../images/like.png');
}
.coupon{
    background-image: url('../images/coupon.png');
}
.help{
    background-image: url('../images/help.png');
}
.setting{
    background-image: url('../images/setting.png');
}

.rightIcon{
    width: 16px;
    height: 16px;
    background-image: url("../images/right.png");
    background-size: cover; 
    position: absolute;
    right: 20px;
    top: 10px;
}


/*动画*/

/*.transitionWrapper {
    position: relative;
}

:global(.transitionWrapper-enter) {
    left: 100%;
    transition: left 400ms linear;
}
 
:global(.transitionWrapper-enter.transitionWrapper-enter-active) {
    left: 0;
}
 
:global(.transitionWrapper-leave) {
    left: 0;
    transition: left 400ms linear;
}
 
:global(.transitionWrapper-leave.transitionWrapper-leave-active) {
    left: -100%;
}*/