.personal{
    background-color: #efefef;
    height: 100vh;
}

.headBox{
    background-color: #444;
    padding: 20px 0;
}

.headImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/pen.png");
    background-size: cover; 
    margin: 0 auto;
}

.headInfo{
    text-align: center;
    color: #fff;
}

.settingBox{
    padding-bottom: 60px;
}

.settingArea{
    background-color: #fff;
    margin-bottom: 20px;
}

.settingItem{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #eee;
    padding-right: 25px;
    position: relative;
    background-color: #fff;
    margin-left: 45px;
}

.settingTitle{
    position: relative;
}

.settingIcon{
    position: absolute;
    left: -30px;
    top: 8px;
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.order{
    background-image: url('../images/order.png');
}
.subscription{
    background-image: url('../images/subscription.png');
}
.like{
    background-image: url('../images/like.png');
}
.coupon{
    background-image: url('../images/coupon.png');
}
.help{
    background-image: url('../images/help.png');
}
.setting{
    background-image: url('../images/setting.png');
}

.rightIcon{
    width: 16px;
    height: 16px;
    background-image: url("../images/right.png");
    background-size: cover; 
    position: absolute;
    right: 20px;
    top: 10px;
}